---
import Logo from './_topbar/_logo.astro'
import { getPathPrefix } from '../../../../../utils/path'
const currentPath = Astro.url.pathname
---

<div class="sticky-top z-3">
  <!-- Topbar -->
  <div class="bg-body py-2">
    <div class="container">
      <div class="d-flex align-items-center">
        <Logo />
        <button class="btn btn-lg btn-primary rounded-pill px-3 ms-auto"
          >Get Started<i class="ri-arrow-right-line ms-2"></i></button
        >
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-top">
    <div class="container">
      <!-- Offcanvas Toggler -->
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Offcanvas Content -->
      <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <a class="navbar-brand" href={getPathPrefix('/theme/1/home')}>
            <Logo />
          </a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-between h-100">
          <!-- Nav Links -->
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/home') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/home')}>Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/about') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/about')}>About</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/blog-1') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/blog-1')}>Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/post-1') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/post-1')}>Post</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/breeding-philosophy') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/breeding-philosophy')}>Philosophy</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/faq') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/faq')}>FAQs</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/gallery') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/gallery')}>Gallery</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/puppies') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/puppies')}>Puppies</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/shop') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/shop')}>Shop</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/testimonials') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/testimonials')}>Testimonials</a
              >
            </li>
            <li class="nav-item">
              <a
                class={`nav-link${currentPath === getPathPrefix('/theme/1/contact') ? ' active' : ''}`}
                href={getPathPrefix('/theme/1/contact')}>Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
