---
import { getAssetPrefix } from '../../../../utils/path.js'
---

<section
  class="position-relative text-light text-center"
  style={`background-image: url('${getAssetPrefix('/assets/img/breederspot-images/french-bulldog-3.jpg')}'); background-size: cover; background-position: center; height: 500px;`}
>
  <!-- Content here -->
</section>
