---
import Layout from './layout.astro'
import { getAssetPrefix } from '../../../../utils/path.js'
---

<Layout
  title="Maintenance"
  description="Dedicated to raising happy, healthy puppies in loving homes."
>
  <!-- Main Section -->
  <section class="bg-body py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3">
          <div class="row">
            <div class="col-6 offset-3">
              <figure class="p-3 mb-0">
                <img
                  src={getAssetPrefix('/assets/img/breederspot-images/maintenance-img.png')}
                  class="img-fluid"
                  alt="Maintenance Illustration"
                />
              </figure>
            </div>
          </div>
          <h1 class="mb-2" data-aos="fade-in" data-aos-duration="1200">
            Pardon our paws—we’re <span class="underline primary">under maintenance</span>!
          </h1>
          <p class="mb-3">
            We're making a few updates to keep things running smoothly. The site will be back
            shortly. Enter your email to get notified when we're back.
          </p>
          <form data-aos="fade-up" data-aos-duration="1200">
            <div class="input-group gap-1 mb-3">
              <input
                type="email"
                class="form-control form-control-lg rounded-pill"
                placeholder="Email address"
                aria-label="Email address"
                aria-describedby="button-addon2"
                required=""
              />
              <div
                data-lastpass-icon-root=""
                style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"
              >
              </div><button
                class="btn btn-lg btn-primary rounded-pill px-4"
                type="submit"
                id="button-addon2">Notify Me</button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>
