---
import Head from '../../../../html/layouts/front/partials/_head.astro'
import Scripts from '../../../../html/layouts/front/partials/_scripts.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <!-- Main Content -->
    <main>
      <!-- Page Content -->
      <div class="content-wrapper">
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-body shadow-sm z-3">
          <div class="container">
            <!-- Brand Logo or Text -->
            <a class="navbar-brand d-flex align-items-center" href="/theme/4/home">
              <img
                src="/dist/assets/img/breederspot-images/logo.svg"
                alt="Logo"
                class="me-2 mt-1"
                style="height: 28px;"
              />
            </a>

            <!-- Offcanvas Toggler -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Offcanvas Menu -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
              <div class="offcanvas-header">
                <a class="navbar-brand d-flex align-items-center" href="/theme/4/home">
                  <img
                    src="/dist/assets/img/breederspot-images/logo.svg"
                    alt="Logo"
                    class="me-2"
                    style="height: 28px;"
                  />
                </a>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-flex flex-column justify-content-between h-100">
                <ul
                  class="navbar-nav flex-grow-1 pe-3 justify-content-start justify-content-lg-center"
                >
                  <!-- Home -->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/theme/4/home">Home</a>
                  </li>

                  <!-- About Dropdown -->
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="aboutDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                      <li><a class="dropdown-item" href="/theme/4/about">About</a></li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/breeding-philosophy"
                          >Breeding Philosophy</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/testimonials">Testimonials</a>
                      </li>
                    </ul>
                  </li>

                  <!-- Explore Dropdown -->
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="exploreDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Explore
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="exploreDropdown">
                      <li><a class="dropdown-item" href="/theme/4/puppies">Puppies</a></li>
                      <li><a class="dropdown-item" href="/theme/4/gallery">Gallery</a></li>
                      <li><a class="dropdown-item" href="/theme/4/shop">Shop</a></li>
                    </ul>
                  </li>

                  <!-- Blog Dropdown -->
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="blogDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="blogDropdown">
                      <li>
                        <a class="dropdown-item" href="/theme/4/blog-1">Blog – No Sidebar</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/blog-2">Blog – Left Sidebar</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/blog-3">Blog – Right Sidebar</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/post-1">Blog Post – No Sidebar</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/post-2">Blog Post – Left Sidebar</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/theme/4/post-3">Blog Post – Right Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>

                  <!-- FAQs -->
                  <li class="nav-item">
                    <a class="nav-link" href="/theme/4/faq">FAQs</a>
                  </li>

                  <!-- Contact -->
                  <li class="nav-item">
                    <a class="nav-link" href="/theme/4/contact">Contact</a>
                  </li>
                </ul>

                <!-- Bottom Section -->
                <div class="d-block d-lg-none mt-4">
                  <a href="tel:+12345678901" class="btn btn-outline-primary rounded w-100 mb-2">
                    <i class="ri-phone-fill me-2"></i>Book Consultation
                  </a>
                  <a class="btn btn-primary rounded w-100" href="#"
                    ><i class="ri-sparkling-2-fill me-2"></i> Get Started Now</a
                  >
                </div>
              </div>
            </div>

            <div class="d-none d-lg-flex align-items-center gap-3">
              <div class="text-start">
                <small class="text-muted d-block">Book Consultation</small>
                <a href="tel:+12345678901" class="text-primary text-decoration-none fw-medium">
                  +1 (234) 567-8901
                </a>
              </div>

              <a class="btn btn-lg btn-primary rounded" href="#">Get Started</a>
            </div>
          </div>
        </nav>

        <!-- Main Section -->
        <section class="bg-body py-5">
          <div class="container">
            <div class="row text-center">
              <div class="col-lg-6 offset-lg-3">
                <div class="row">
                  <div class="col-6 offset-3">
                    <figure class="p-3 mb-0">
                      <img
                        src="/dist/assets/img/breederspot-images/maintenance-img.png"
                        class="img-fluid"
                        alt="Maintenance Illustration"
                      />
                    </figure>
                  </div>
                </div>
                <h1 class="mb-2">
                  <em
                    >Pardon our paws—we’re <span class="underline primary">under maintenance</span
                    >!</em
                  >
                </h1>
                <p class="lead mb-3">
                  We're making a few updates to keep things running smoothly. The site will be back
                  shortly. Enter your email to get notified when we're back.
                </p>
                <form>
                  <div class="input-group mb-3">
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      placeholder="Email address"
                      aria-label="Email address"
                      aria-describedby="button-addon2"
                      required=""
                    />
                    <button class="btn btn-lg btn-primary" type="submit" id="button-addon2"
                      >Notify Me</button
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->
        <footer class="pt-5 pb-4">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-2 mb-3">
                <h5 class="mb-3">Quick Links</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a href="/theme/4/home" class="nav-link p-0 text-body-secondary">Home</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="/theme/4/about" class="nav-link p-0 text-body-secondary">About</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="/theme/4/contact" class="nav-link p-0 text-body-secondary">Contact</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-md-2 mb-3">
                <h5 class="mb-3">Other Links</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a href="/theme/4/blog" class="nav-link p-0 text-body-secondary">Blog</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="/theme/4/puppies" class="nav-link p-0 text-body-secondary">Puppies</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="/theme/4/shop" class="nav-link p-0 text-body-secondary">Shop</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="/theme/4/faq" class="nav-link p-0 text-body-secondary">FAQs</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-md-2 mb-3">
                <h5 class="mb-3">Legal</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Terms of Use</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Cookies Policy</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-5 offset-md-1 mb-3">
                <form>
                  <h5 class="mb-3">Newsletter</h5>
                  <p class="text-body-secondary mb-3">
                    Subscribe to our newsletter for the latest updates.
                  </p>
                  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      placeholder="Email address"
                    />
                    <button class="btn btn-lg btn-primary" type="button">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="text-center pt-4 mt-4 border-top">
              <p class="mb-0">© 2025 Company, Inc. All rights reserved.</p>
            </div>
          </div>
        </footer>
      </div>

      <!-- All Scripts -->
      <Scripts />
    </main>
  </body>
</html>
