---
import Logo from './_topbar/_logo.astro'
import { getPathPrefix } from '../../../../../utils/path'
---

<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark z-3">
  <div class="container">
    <!-- Brand Logo or Text -->
    <a class="navbar-brand d-flex align-items-center" href={getPathPrefix('/theme/5/home')}>
      <Logo />
    </a>

    <!-- Offcanvas Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <a class="navbar-brand d-flex align-items-center" href={getPathPrefix('/theme/5/home')}>
          <Logo />
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between h-100">
        <!-- For lg+ screens -->
        <ul class="navbar-nav flex-grow-1 pe-3 justify-content-center d-none d-lg-flex">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/5/home')}>Home</a>
          </li>

          <!-- About Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="aboutDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href={getPathPrefix('/theme/5/about')}>About</a></li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/breeding-philosophy')}
                  >Breeding Philosophy</a
                >
              </li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/testimonials')}
                  >Testimonials</a
                >
              </li>
            </ul>
          </li>

          <!-- Explore Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="exploreDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Explore
            </a>
            <ul class="dropdown-menu" aria-labelledby="exploreDropdown">
              <li><a class="dropdown-item" href={getPathPrefix('/theme/5/puppies')}>Puppies</a></li>
              <li><a class="dropdown-item" href={getPathPrefix('/theme/5/gallery')}>Gallery</a></li>
              <li><a class="dropdown-item" href={getPathPrefix('/theme/5/shop')}>Shop</a></li>
            </ul>
          </li>

          <!-- Blog Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="blogDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="blogDropdown">
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/blog-1')}
                  >Blog – No Sidebar</a
                >
              </li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/blog-2')}
                  >Blog – Left Sidebar</a
                >
              </li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/blog-3')}
                  >Blog – Right Sidebar</a
                >
              </li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/post-1')}
                  >Blog Post – No Sidebar</a
                >
              </li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/post-2')}
                  >Blog Post – Left Sidebar</a
                >
              </li>
              <li>
                <a class="dropdown-item" href={getPathPrefix('/theme/5/post-3')}
                  >Blog Post – Right Sidebar</a
                >
              </li>
            </ul>
          </li>

          <!-- FAQs -->
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/5/faq')}>FAQs</a>
          </li>

          <!-- Contact -->
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/5/contact')}>Contact</a>
          </li>
        </ul>

        <!-- For smaller screens -->
        <ul class="navbar-nav flex-grow-1 justify-content-start d-flex d-lg-none">
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/home')}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/about')}>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/breeding-philosophy')}
              >Breeding Philosophy</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/testimonials')}>Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/puppies')}>Puppies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/gallery')}>Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/shop')}>Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/blog-1')}>Blog – No Sidebar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/blog-2')}>Blog – Left Sidebar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/blog-3')}>Blog – Right Sidebar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/post-1')}>Blog Post – No Sidebar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/post-2')}>Blog Post – Left Sidebar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/post-3')}>Blog Post – Right Sidebar</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/faq')}>FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={getPathPrefix('/theme/3/contact')}>Contact</a>
          </li>
        </ul>

        <!-- Search Section for Offcanvas -->
        <div class="d-block d-lg-none mt-2">
          <form class="d-flex align-items-center" role="search">
            <input
              type="search"
              class="form-control form-control-lg me-2"
              placeholder="Search puppies, info..."
              aria-label="Search"
            />
            <button class="btn btn-lg btn-primary" type="submit"
              ><i class="ri-search-line"></i></button
            >
          </form>
        </div>
      </div>
    </div>

    <!-- Search Section for Navbar (lg+ screens) -->
    <div class="d-none d-lg-flex align-items-center">
      <form class="d-flex align-items-center" role="search">
        <input
          type="search"
          class="form-control form-control-lg me-2"
          placeholder="Search puppies, info..."
          aria-label="Search"
        />
        <button class="btn btn-lg btn-primary" type="submit">
          <i class="ri-search-line"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
