---
import { getPathPrefix } from '../../../../../utils/path.js'
---

<!-- Footer -->
<footer class="pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/home')} class="nav-link p-0 text-body-secondary"
              >Home</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/about')} class="nav-link p-0 text-body-secondary"
              >About</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/contact')} class="nav-link p-0 text-body-secondary"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="mb-3">Other Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/blog')} class="nav-link p-0 text-body-secondary"
              >Blog</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/puppies')} class="nav-link p-0 text-body-secondary"
              >Puppies</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/shop')} class="nav-link p-0 text-body-secondary"
              >Shop</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href={getPathPrefix('/theme/3/faq')} class="nav-link p-0 text-body-secondary">FAQs</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="mb-3">Legal</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Terms of Use</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Cookies Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="mb-3">Newsletter</h5>
          <p class="text-body-secondary mb-3">
            Subscribe to our newsletter for the latest updates.
          </p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <input type="email" class="form-control form-control-lg" placeholder="Email address" />
            <button class="btn btn-lg btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="text-center pt-4 mt-4 border-top">
      <p class="mb-0">© 2025 Company, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
